<!-- Table Section - Start
================================================== -->
<section class="table_section">
    <div class="container">
        <div class="heading_block mb-3">
            <h2 class="heading_title split-text right mb-0">
                CVEs
            </h2>
        </div>

        <div class="table_wrap">
            <table>
                <thead>
                    <tr>
                        <th scope="col">CVE #</th>
                        <th scope="col">Vendor</th>
                        <th scope="col">Product</th>
                        <th scope="col">CVSS Rating</th>
                        <th scope="col">Advisory Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>CVE-2022-28820</td>
                        <td>Adobe</td>
                        <td>AEM ACS Commons</td>
                        <td><span class="badge bg-warning text-dark">6.1</span></td>
                        <td><a href="https://blog.blacklanternsecurity.com/p/reflected-xss-in-acs-commons-version" target="_blank">Adobe CVE</a></td>
                    </tr>
                    <tr>
                        <td>CVE-2021-38613</td>
                        <td>NASCENT</td>
                        <td>RemKon Device Manager</td>
                        <td><span class="badge bg-danger text-dark">9.8</span></td>
                        <td><a href="https://blog.blacklanternsecurity.com/p/nascent-remkon-multiple-cves" target="_blank">NASCENT CVE</a></td>
                    </tr>
                    <tr>
                        <td>CVE-2021-38612</td>
                        <td>NASCENT</td>
                        <td>RemKon Device Manager</td>
                        <td><span class="badge bg-danger text-dark">7.5</span></td>
                        <td><a href="https://blog.blacklanternsecurity.com/p/nascent-remkon-multiple-cves" target="_blank">NASCENT CVE</a></td>
                    </tr>
                    <tr>
                        <td>CVE-2021-38611</td>
                        <td>NASCENT</td>
                        <td>RemKon Device Manager</td>
                        <td><span class="badge bg-danger text-dark">9.8</span></td>
                        <td><a href="https://blog.blacklanternsecurity.com/p/nascent-remkon-multiple-cves" target="_blank">NASCENT CVE</a></td>
                    </tr>
                    <tr>
                        <td>CVE-2021-36385</td>
                        <td>Cerner</td>
                        <td>Cerner Mobile Care 5.0.0</td>
                        <td><span class="badge bg-danger text-dark">9.8</span></td>
                        <td><a href="https://blog.blacklanternsecurity.com/p/cerner-mobilecare-integer-conversion" target="_blank">Cerner CVE</a></td>
                    </tr>
                    <tr>
                        <td>CVE-2021-35665</td>
                        <td>Oracle</td>
                        <td>Hyperion Financial Reporting</td>
                        <td><span class="badge bg-warning text-dark">6.1</span></td>
                        <td><a href="https://nvd.nist.gov/vuln/detail/CVE-2021-35665" target="_blank">Oracle CVE</a></td>
                    </tr>
                    <tr>
                        <td>CVE-2021-27798</td>
                        <td>Brocade</td>
                        <td>Brocade Fabric OS</td>
                        <td><span class="badge bg-warning text-dark">5.5</span></td>
                        <td><a href="https://blog.blacklanternsecurity.com/p/privileged-directory-traversal-in" target="_blank">Brocade CVE</a></td>
                    </tr>
                    <tr>
                        <td>CVE-2021-27796</td>
                        <td>Brocade</td>
                        <td>Brocade Fabric OS</td>
                        <td><span class="badge bg-warning text-dark">6.5</span></td>
                        <td><a href="https://blog.blacklanternsecurity.com/p/privileged-read-and-weak-default" target="_blank">Brocade CVE</a></td>
                    </tr>
                    <tr>
                        <td>CVE-2021-27797</td>
                        <td>Brocade</td>
                        <td>Brocade Fabric OS</td>
                        <td><span class="badge bg-warning text-dark">9.8</span></td>
                        <td><a href="https://blog.blacklanternsecurity.com/p/privileged-read-and-weak-default" target="_blank">Brocade CVE</a></td>
                    </tr>
                    <tr>
                        <td>CVE-2021-1486</td>
                        <td>Cisco</td>
                        <td>Cisco SD-WAN: vManage</td>
                        <td><span class="badge bg-warning text-dark">5.3</span></td>
                        <td><a href="https://blog.blacklanternsecurity.com/p/cisco-sd-wan-vmanage-vulnerability" target="_blank">Cisco CVE</a></td>
                    </tr>
                    <tr>
                        <td>CVE-2020-27362</td>
                        <td>Akkadian Labs</td>
                        <td>Akkadian Provisioning Manager</td>
                        <td><span class="badge bg-danger text-dark">8.8</span></td>
                        <td><a href="https://blog.blacklanternsecurity.com/p/akkadian-provisioning-manager-information" target="_blank">Akkadian Labs CVE</a></td>
                    </tr>
                    <tr>
                        <td>CVE-2020-27361</td>
                        <td>Akkadian Labs</td>
                        <td>Akkadian Provisioning Manager</td>
                        <td><span class="badge bg-danger text-dark">7.5</span></td>
                        <td><a href="https://blog.blacklanternsecurity.com/p/akkadian-provisioning-manager-information" target="_blank">Akkadian Labs CVE</a></td>
                    </tr>
                    <tr>
                        <td>CVE 2020-26801</td>
                        <td>Tripp Lite</td>
                        <td>Tripp Lite UPS</td>
                        <td><span class="badge bg-warning text-dark">5.4</span></td>
                        <td><a href="https://blog.blacklanternsecurity.com/p/tripplite-stored-xss" target="_blank">Tripp Lite CVE</a></td>
                    </tr>
                    <tr>
                        <td>CVE-2020-16139</td>
                        <td>Cisco</td>
                        <td>Cisco Unified IP Conference Station 7937G</td>
                        <td><span class="badge bg-warning text-dark">7.5</span></td>
                        <td><a href="https://blog.blacklanternsecurity.com/p/cisco-unified-ip-conference-station" target="_blank">Cisco CVE</a></td>
                    </tr>
                    <tr>
                        <td>CVE-2020-16138</td>
                        <td>Cisco</td>
                        <td>Cisco Unified IP Conference Station 7937G</td>
                        <td><span class="badge bg-danger text-dark">7.5</span></td>
                        <td><a href="https://blog.blacklanternsecurity.com/p/cisco-unified-ip-conference-station" target="_blank">Cisco CVE</a></td>
                    </tr>
                    <tr>
                        <td>CVE-2020-16137</td>
                        <td>Cisco</td>
                        <td>Cisco Unified IP Conference Station 7937G</td>
                        <td><span class="badge bg-danger text-dark">9.8</span></td>
                        <td><a href="https://blog.blacklanternsecurity.com/p/cisco-unified-ip-conference-station" target="_blank">Cisco CVE</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- Table Section - End
================================================== -->
