<!-- Career Section - Start
================================================== -->
<section class="career_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <div class="heading_block mt-lg-5 mb-4">
                    <h2 class="heading_title split-text right">
                        {{ page.career_title }}
                    </h2>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-lg-5 pe-lg-5">
                <ul class="iconlist_block unordered_list_block">
                    <li>
                        <span class="iconlist_icon">
                            <i class="fa-solid fa-circle-check"></i>
                        </span>
                        <span class="iconlist_label">
                            Black Lantern Security is built around the ingenuity, passion, and determination of our
                            Operators and Analysts
                        </span>
                    </li>
                    <li>
                        <span class="iconlist_icon">
                            <i class="fa-solid fa-circle-check"></i>
                        </span>
                        <span class="iconlist_label">
                            No one "mastermind"
                        </span>
                    </li>
                    <li>
                        <span class="iconlist_icon">
                            <i class="fa-solid fa-circle-check"></i>
                        </span>
                        <span class="iconlist_label">
                            No "cult of personality"
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5 ps-lg-5">
                <ul class="iconlist_block unordered_list_block">
                    <li>
                        <span class="iconlist_icon">
                            <i class="fa-solid fa-circle-check"></i>
                        </span>
                        <span class="iconlist_label">
                            Competitive compensation and benefits
                        </span>
                    </li>
                    <li>
                        <span class="iconlist_icon">
                            <i class="fa-solid fa-circle-check"></i>
                        </span>
                        <span class="iconlist_label">
                            Healthy work-life balance
                        </span>
                    </li>
                    <li>
                        <span class="iconlist_icon">
                            <i class="fa-solid fa-circle-check"></i>
                        </span>
                        <span class="iconlist_label">
                            Project-based engagements that play to the team's strengths
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="career_accordion accordion" id="job_info_accordion">
                    <div class="accordion-item" data-aos="fade-up" data-aos-duration="900">
                        <div class="accordion-header" role="button" data-bs-toggle="collapse" data-bs-target="#collapse_11"
                            aria-expanded="false" aria-controls="collapse_11">
                            Senior Penetration Tester
                        </div>
                        <div id="collapse_11" class="accordion-collapse collapse" data-bs-parent="#job_info_accordion">
                            <div class="accordion-body">
                                <h3 class="mb-5">
                                    Location: Remote
                                </h3>
                                <div class="row">
                                    <div class="col-lg-6 pe-lg-5">
                                        <h5 class="mb-3">
                                            Required:
                                        </h5>
                                        <ul class="simplelist_block unordered_list_block">
                                            <li>
                                                5+ years technical Cybersecurity expertise.
                                            </li>
                                            <li>
                                                5+ years experience in penetration testing, computer network attack (CNA), and/or computer network defense (CND).
                                            </li>
                                            <li>
                                                5+ experience with basic scripting languages including bash and/or PowerShell.
                                            </li>
                                            <li>
                                                Experience with at least one object-oriented programming language (Python, Ruby, Java, etc.).
                                            </li>
                                            <li>
                                                Must be US citizen (must be willing to submit to federal, state, and local background checks and other requirements).
                                            </li>
                                            <li>
                                                One or more professional certifications including OSCP, GPEN, GWAPT, etc.
                                            </li>
                                            <li>
                                                Possess in-depth knowledge of Windows, Unix, TCP/IP, IDS/IPS, and web content filtering.
                                            </li>
                                            <li>
                                                Demonstrated ability to:
                                                <ul class="simplelist_block unordered_list_block">
                                                    <li>
                                                        Adhere to the highest standards of honesty and scientific and business integrity.
                                                    </li>
                                                    <li>
                                                        Think critically about complex problems and situations.
                                                    </li>
                                                    <li>
                                                        Consider emerging vulnerabilities and threats from within the context of organizational risk and business impact(s).
                                                    </li>
                                                    <li>
                                                        Develop novel attack vectors based on newly discovered vulnerabilities.
                                                    </li>
                                                    <li>
                                                        Develop home-grown software solutions and utilities for computer network attack (CNA) and computer network defense (CND).
                                                    </li>
                                                    <li>
                                                        Apply industry standards and best practices including the Penetration Testing Execution Standard (PTES) and the Mitre Adversarial Tactics, Techniques, and Common Knowledge (ATT&CK) Framework.
                                                    </li>
                                                    <li>
                                                        Go beyond automated and “push-button” attack tools and utilities.
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                Possess a basic understanding of regulatory standards and requirements including the Health Insurance Portability and Accountability Act (HIPAA), Payment Card Industry Data Security Standard (PCI-DSS), and the Gramm-Leach-Bliley Act (GLBA).
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 ps-lg-5">
                                        <h5 class="mb-3">
                                            Responsibilities:
                                        </h5>
                                        <ul class="simplelist_block unordered_list_block mb-4">
                                            <li>
                                                Project-Based
                                                <ul class="simplelist_block unordered_list_block">
                                                    <li>
                                                        Develop and deliver test strategies for attacking and assessing complex and distributed systems.
                                                    </li>
                                                    <li>
                                                        Scope and execute penetration tests based on customer goals and objectives.
                                                    </li>
                                                    <li>
                                                        Provide representative tactics, techniques, and procedures (TTPs) for opportunistic, advanced, and sophisticated attackers according to customer goals and objectives.
                                                    </li>
                                                    <li>
                                                        Provide technical leadership and guidance for junior penetration testers during all phases of an assessment.
                                                    </li>
                                                    <li>
                                                        Prepare clear and concise situation reports and activity summaries for BLS customers and senior leadership.
                                                    </li>
                                                    <li>
                                                        Execute verification and validation testing for customer mitigations and fixes.
                                                    </li>
                                                    <li>
                                                        Develop and deliver walkthrough(s), proof(s) of concept (PoCs), articles, and formal presentations.
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                Research and Development (R&D)
                                                <ul class="simplelist_block unordered_list_block">
                                                    <li>
                                                        Attend and/or present at professional conferences and events.
                                                    </li>
                                                    <li>
                                                        Conduct independent research for:
                                                    </li>
                                                    <li>
                                                        The development of novel attack methods.
                                                    </li>
                                                    <li>
                                                        Discovering new and/or undisclosed vulnerabilities.
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                         
                                    </div>
                                </div>
                                <div class="btns_group pb-0">
                                    <a class="btn btn-primary w-100" href="https://forms.monday.com/forms/5c4722943854af6bf62aebb396553e3c?r=use1" target="_blank">
                                        <span class="btn_label">Apply Now</span>
                                        <span class="btn_icon">
                                            <i class="fa-solid fa-arrow-up-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                                        <div class="accordion-item" data-aos="fade-up" data-aos-duration="900">
                        <div class="accordion-header" role="button" data-bs-toggle="collapse" data-bs-target="#collapse_1"
                            aria-expanded="false" aria-controls="collapse_1">
                            Junior Penetration Tester
                        </div>
                        <div id="collapse_1" class="accordion-collapse collapse" data-bs-parent="#job_info_accordion">
                            <div class="accordion-body">
                                <h3 class="mb-5">
                                    Location: Remote
                                </h3>
                                <div class="row">
                                    <div class="col-lg-6 pe-lg-5">
                                        <h5 class="mb-3">
                                            Required:
                                        </h5>
                                        <ul class="simplelist_block unordered_list_block">
                                            <li>
                                                Technical Cybersecurity experience.
                                            </li>
                                            <li>
                                                Experience in penetration testing, computer network attack (CNA), and/or computer network defense (CND).
                                            </li>
                                            <li>
                                                Experience with basic scripting languages including bash and/or PowerShell.
                                            </li>
                                            <li>
                                                Experience with at least one object-oriented programming language (Python, Ruby, Java, etc.).
                                            </li>
                                            <li>
                                                Must be US citizen (must be willing to submit to federal, state, and local background checks and other requirements).
                                            </li>
                                            <li>
                                                Knowledge of Windows, Unix, TCP/IP, IDS/IPS, and web content filtering.
                                            </li>
                                            <li>
                                                Demonstrated ability to:
                                                <ul class="simplelist_block unordered_list_block">
                                                    <li>
                                                        Adhere to the highest standards of honesty and scientific and business integrity.
                                                    </li>
                                                    <li>
                                                        Think critically about complex problems and situations.
                                                    </li>
                                                    <li>
                                                        Consider emerging vulnerabilities and threats from within the context of organizational risk and business impact(s).
                                                    </li>
                                                    <li>
                                                        Develop novel attack vectors based on newly discovered vulnerabilities.
                                                    </li>
                                                    <li>
                                                        Develop home-grown software solutions and utilities for computer network attack (CNA) and computer network defense (CND).
                                                    </li>
                                                    <li>
                                                        Apply industry standards and best practices including the Penetration Testing Execution Standard (PTES) and the Mitre Adversarial Tactics, Techniques, and Common Knowledge (ATT&CK) Framework.
                                                    </li>
                                                    <li>
                                                        Go beyond automated and “push-button” attack tools and utilities.
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                Possess a basic understanding of regulatory standards and requirements including the Health Insurance Portability and Accountability Act (HIPAA), Payment Card Industry Data Security Standard (PCI-DSS), and the Gramm-Leach-Bliley Act (GLBA).
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 ps-lg-5">
                                        <h5 class="mb-3">
                                            Responsibilities:
                                        </h5>
                                        <ul class="simplelist_block unordered_list_block mb-4">
                                            <li>
                                                Project-Based
                                                <ul class="simplelist_block unordered_list_block">
                                                    <li>
                                                        Help develop and deliver test strategies for attacking and assessing complex and distributed systems.
                                                    </li>
                                                    <li>
                                                        Provide representative tactics, techniques, and procedures (TTPs) for opportunistic, advanced, and sophisticated attackers according to customer goals and objectives.
                                                    </li>
                                                    <li>
                                                        Prepare clear and concise situation reports and activity summaries for BLS customers and senior leadership.
                                                    </li>
                                                    <li>
                                                        Execute verification and validation testing for customer mitigations and fixes.
                                                    </li>
                                                    <li>
                                                        Develop and deliver walkthrough(s), proof(s) of concept (PoCs), articles, and formal presentations.
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                Research and Development (R&D)
                                                <ul class="simplelist_block unordered_list_block">
                                                    <li>
                                                        Attend and/or present at professional conferences and events.
                                                    </li>
                                                    <li>
                                                        Conduct independent research for:
                                                    </li>
                                                    <li>
                                                        The development of novel attack methods.
                                                    </li>
                                                    <li>
                                                        Discovering new and/or undisclosed vulnerabilities.
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                         
                                    </div>
                                </div>
                                <div class="btns_group pb-0">
                                    <a class="btn btn-primary w-100" href="https://forms.monday.com/forms/5c4722943854af6bf62aebb396553e3c?r=use1" target="_blank">
                                        <span class="btn_label">Apply Now</span>
                                        <span class="btn_icon">
                                            <i class="fa-solid fa-arrow-up-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" data-aos="fade-up" data-aos-duration="900">
                        <div class="accordion-header" role="button" data-bs-toggle="collapse" data-bs-target="#collapse_2"
                            aria-expanded="false" aria-controls="collapse_2">
                            Web Application Penetration Tester
                        </div>
                        <div id="collapse_2" class="accordion-collapse collapse" data-bs-parent="#job_info_accordion">
                            <div class="accordion-body">
                                <h3 class="mb-5">
                                    Location: Remote
                                </h3>
                                <div class="row">
                                    <div class="col-lg-6 pe-lg-5">
                                        <h5 class="mb-3">
                                            Required:
                                        </h5>
                                        <ul class="simplelist_block unordered_list_block">
                                            <li>
                                                Must be US citizen (must be willing to submit to federal, state, and local background checks and other requirements).
                                            </li>
                                            <li>
                                                Experience in performing penetration testing on enterprise networks, web applications, and mobile applications.
                                            </li>
                                            <li>
                                                Familiarity with common web vulnerabilities including: XSS, XXE, SQL Injection, Deserialization Attacks, File Inclusion/Path Traversal Attacks, Server-side Request Forgery, Remote Execution Flaws, Server Configuration Flaws and Authentication Flaws.
                                            </li>
                                            <li>
                                                Experience in testing web-based APIs (i.e. REST, SOAP, XML, JSON).
                                            </li>
                                            <li>
                                                Experience in designing and documenting pragmatic remediation guidance for discovered vulnerabilities.
                                            </li>
                                            <li>
                                                Experience developing actionable intelligence based on open source intelligence (OSINT) gathering.
                                            </li>
                                            <li>
                                                Experience with 1 or more scripting languages such as Bash, Python, Perl, PowerShell, etc.
                                            </li>
                                            <li>
                                                Solid understanding of OWASP testing methodology.
                                            </li>
                                            <li>
                                                Familiarity with front-end web application frameworks (i.e. AngularJS, Bootstrap, etc).
                                            </li>
                                            <li>
                                                Capable of working effectively and efficiently with minimal supervision.
                                            </li>
                                            <li>
                                                Strong written and verbal English language skills.
                                            </li>
                                            <li>
                                                Demonstrated ability to:
                                                <ul class="simplelist_block unordered_list_block">
                                                    <li>
                                                        Adhere to the highest standards of honesty and scientific and
                                                        business integrity.
                                                    </li>
                                                    <li>
                                                        Think critically about complex problems and situations.
                                                    </li>
                                                    <li>
                                                        Consider emerging vulnerabilities and threats from within the
                                                        context of organizational risk and business impact(s).
                                                    </li>
                                                    <li>
                                                        Develop novel attack vectors based on newly discovered
                                                        vulnerabilities.
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                Possess a basic understanding of regulatory standards and requirements
                                                including the Health Insurance Portability and Accountability Act (HIPAA),
                                                Payment Card Industry Data Security Standard (PCI-DSS), and the
                                                Gramm-Leach-Bliley Act (GLBA).
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 ps-lg-5">
                                        <h5 class="mb-3">
                                            Preferences:
                                        </h5>
                                        <ul class="simplelist_block unordered_list_block mb-4">
                                            <li>
                                                Web application development or source code review experience.
                                            </li>
                                            <li>
                                                Strong knowledge of Windows and Linux operating systems.
                                            </li>
                                            <li>
                                                Working knowledge of containerized applications and container-based security controls and configurations.
                                            </li>
                                            <li>
                                                Possess current professional certification (i.e. GWAPT, OSCP, OSCE, GPEN)
                                            </li>
                                        </ul>
                                        <br>
                                        <br>
                                        <h5 class="mb-3">
                                            Responsibilities:
                                        </h5>
                                        <ul class="simplelist_block unordered_list_block mb-4">
                                            <li>
                                                Conduct assessments of web applications, mobile applications, databases, client-side applications and tools, and APIs.
                                            </li>
                                            <li>
                                                Execute manual and automated code analysis to assess the quality and security of source code.
                                            </li>
                                            <li>
                                                Perform pre-assessment research and preparation including reconnaissance, documentation and configuration review, and customer interviews.
                                            </li>
                                            <li>
                                                Develop custom tools and exploits.
                                            </li>
                                            <li>
                                                Analyze security findings, including risk analysis and root cause analysis.
                                            </li>
                                            <li>
                                                Generate comprehensive reports, including detailed findings, exploitation procedures, and mitigations.
                                            </li>
                                            <li>
                                                Develop and deliver walkthrough(s), proof(s) of concept (PoCs), articles, and formal presentations.
                                            </li>
                                            <li>
                                                Execute verification and validation testing for customer mitigations and fixes.
                                            </li>
                                        </ul>
                                    </div>
 

                                </div>
                                <div class="btns_group pb-0">
                                    <a class="btn btn-primary w-100" href="https://forms.monday.com/forms/5c4722943854af6bf62aebb396553e3c?r=use1" target="_blank">
                                        <span class="btn_label">Apply Now</span>
                                        <span class="btn_icon">
                                            <i class="fa-solid fa-arrow-up-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" data-aos="fade-up" data-aos-duration="900">
                        <div class="accordion-header" role="button" data-bs-toggle="collapse" data-bs-target="#collapse_3"
                            aria-expanded="false" aria-controls="collapse_3">
                            Blue Teamer Incident Response
                        </div>
                        <div id="collapse_3" class="accordion-collapse collapse" data-bs-parent="#job_info_accordion">
                            <div class="accordion-body">
                                <h3 class="mb-5">
                                    Location: Remote
                                </h3>
                                <div class="row">
                                    <div class="col-lg-6 pe-lg-5">
                                        <h5 class="mb-3">
                                            Responsibilities:
                                        </h5>
                                        <ul class="simplelist_block unordered_list_block mb-4">
                                            <li>
                                                Project-Based
                                                <ul class="simplelist_block unordered_list_block">
                                                    <li>
                                                        Coordinate and execute incident response for customers in multiple market verticals including Finance, Healthcare, and Retail Operations.
                                                    </li>
                                                    <li>
                                                        Coordinate and execute Threat Hunting engagements
                                                    </li>
                                                    <li>
                                                        Develop detailed “runbooks” for responding to well-known attacks that can be tailored to specific customer environments.
                                                    </li>
                                                    <li>
                                                        Prepare clear and concise situation reports and activity summaries for BLS customers and Senior Leadership.
                                                    </li>
                                                    <li>
                                                        Execute verification and validation testing for customer mitigations and fixes.
                                                    </li>
                                                    <li>
                                                        Develop and deliver walkthrough(s), proof(s) of concept (PoCs), articles, and formal presentations.
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <ul class="simplelist_block unordered_list_block mb-4">
                                            <li>
                                                Research and Development (R&D)
                                                <ul class="simplelist_block unordered_list_block">
                                                    <li>
                                                        Attend and/or present at professional conferences and events
                                                    </li>
                                                    <li>Participate in the development of:</li>
                                                    <li>Novel defensive tactics, techniques, and procedures (TTPs)</li>
                                                    <li>Applications, utilities, and scripts.</li>
                                                    <li>Threat hunting capabilities consistent with the Mitre Adversarial Tactics, Techniques, and Common Knowledge (ATT&CK) framework as well as emerging offensive TTPs</li>
                                                    <li>DFIR techniques, tactics, and capabilities.</li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <br><br>
                                        
                                                <h5 class="mb-3">Preferences: </h5>
                                                <ul class="simplelist_block unordered_list_block">
                                                    <li>
                                                        Experience operating within a Security Operations Center (SOC).
                                                    </li>
                                                    <li>
                                                        Experience with Splunk or ElasticSearch.
                                                    </li>
                                                    <li>
                                                        Experience building, modifying, and/or deploying open source defensive tool sets
                                                    </li>
                                                </ul>
                                          
                                    </div>
                                    <div class="col-lg-6 ps-lg-5">
                                        <h5 class="mb-3">
                                            Requirements:
                                        </h5>
                                        <ul class="simplelist_block unordered_list_block mb-4">
                                            <li>Experience coordinating and performing incident response.</li>
                                            <li>Experience with basic scripting languages including python, bash and/or PowerShell.</li>
                                            <li>Experience with at least one object-oriented programming language (Python, Ruby, Java, etc.).</li>
                                            <li>Experience hardening *nix and Windows systems images and builds.</li>
                                            <li>Experience parsing, consuming, and understanding log sources from variety of devices/systems.</li>
                                            <li>Experience with one or more SIEMs (ArcSight, LogRythm, AlienVault, etc.)</li>
                                            <li>Experience with DFIR toolsets (Sleuth Kit, Encase, FTK)</li>
                                            <li>Must be US citizen (must be willing to submit to federal, state, and local background checks and other requirements).</li>
                                            <li>Knowledge of Windows, Unix, TCP/IP, IDS/IPS, and web content filtering.</li>
                                            <li>
                                                Demonstrated ability to:
                                                <ul class="simplelist_block unordered_list_block">
                                                     <li>Adhere to the highest standards of honesty and scientific and business integrity.</li>
                                                     <li>Think critically about complex problems and situations.</li>
                                                     <li>Understand threat models and effectively communicate risk and impact.</li>
                                                     <li>Apply industry standards and best practices including the Mitre ATT&CK framework and NIST Incident Response (800-61).</li>
                                                     <li>Possess a basic understanding of regulatory standards and requirements including the Health Insurance Portability and Accountability Act (HIPAA), Payment Card Industry Data Security Standard (PCI-DSS), and the Gramm-Leach-Bliley Act (GLBA).</li>
                                                </ul>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                </div>
                                <div class="btns_group pb-0">
                                    <a class="btn btn-primary w-100" href="https://forms.monday.com/forms/5c4722943854af6bf62aebb396553e3c?r=use1" target="_blank">
                                        <span class="btn_label">Apply Now</span>
                                        <span class="btn_icon">
                                            <i class="fa-solid fa-arrow-up-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" data-aos="fade-up" data-aos-duration="900">
                        <div class="accordion-header" role="button" data-bs-toggle="collapse" data-bs-target="#collapse_4"
                            aria-expanded="false" aria-controls="collapse_4">
                            Project Manager
                        </div>
                        <div id="collapse_4" class="accordion-collapse collapse" data-bs-parent="#job_info_accordion">
                            <div class="accordion-body">
                                <h3 class="mb-5">
                                    Location: Remote
                                </h3>
                                <div class="row">
                                    <div class="col-lg-6 pe-lg-5">
                                        <h5 class="mb-3">
                                            Required:
                                        </h5>
                                        <ul class="simplelist_block unordered_list_block">
                                            <li>Develop, deliver, and track Master Service Agreements (MSAs) and Statements of Work (SOWs) from contract execution to customer acceptance.</li>
                                            <li>Manage and assign resources, cost, and deadlines for project execution.</li>
                                            <li>Manage parallel projects for multiple customers.</li>
                                            <li>Track activities, deliverables, and milestones for multiple customers.</li>
                                            <li>Develop, document, and deliver customer on-boarding and support processes and procedures.</li>
                                            <li>Develop, document, and deliver internal policies, processes, and procedures.</li>
                                            <li>Execute additional tasking as assigned by supervisor.</li>
                                        </ul>
                                        <br><br>
                                         <h5 class="mb-3">
                                                Preferences </h5>
                                                <ul class="simplelist_block unordered_list_block">
                                                    <li>
                                                        Previous engineering or systems administration experience is considered a plus
                                                    </li>
                                                    <li>
                                                        Possess a basic understanding of regulatory standards and requirements including the Health Insurance Portability and Accountability Act (HIPAA), Payment Card Industry Data Security Standard (PCI-DSS), and the Gramm-Leach-Bliley Act (GLBA).
                                                    </li>
                                                </ul>
                                          
                                    </div>
                                    <div class="col-lg-6 ps-lg-5">
                                        <h5 class="mb-3">
                                            Responsibilities:
                                        </h5>
                                        <ul class="simplelist_block unordered_list_block mb-4">
                                            <li>Must be US citizen (must be willing to submit to federal, state, and local background checks and other requirements).</li>
                                            <li>5+ years experience managing Cybersecurity related projects</li>
                                            <li>Possess a basic understanding of Cybersecurity services and concepts including red teaming, penetration testing, risk analysis, vulnerability management, and configuration management (CM).</li>
                                            <li>One or more professional certifications including PMP, PgMP, CISSP, Security+ etc.</li>
                                            <li>
                                                Demonstrated ability to:
                                                <ul class="simplelist_block unordered_list_block">
                                                    <li>Communicate (written & verbal) effectively across the entire business stack (Executives, Management, Engineers and Administrators).</li>
                                                    <li>Adhere to the highest standards of honesty and scientific and business integrity.</li>
                                                    <li>Understand and empathize with a customer’s business mission.</li>
                                                    <li>Identify and understand critical business workflows.</li>
                                                    <li>Develop and manage customer requirements.</li>
                                                </ul>
                                            </li>
                                           
                                        </ul>
                                         
                                    </div>
                                </div>
                                <div class="btns_group pb-0">
                                    <a class="btn btn-primary w-100" href="https://forms.monday.com/forms/5c4722943854af6bf62aebb396553e3c?r=use1" target="_blank">
                                        <span class="btn_label">Apply Now</span>
                                        <span class="btn_icon">
                                            <i class="fa-solid fa-arrow-up-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item" data-aos="fade-up" data-aos-duration="900">
                        <div class="accordion-header" role="button" data-bs-toggle="collapse" data-bs-target="#collapse_5"
                            aria-expanded="false" aria-controls="collapse_5">
                            Attack Surface Management (ASM) Cybersecurity Analyst
                        </div>
                        <div id="collapse_5" class="accordion-collapse collapse" data-bs-parent="#job_info_accordion">
                            <div class="accordion-body">
                                <h3 class="mb-5">
                                    Location: Remote
                                    <br>
                                    Travel: Up to 10% travel possible, both domestically and internationally
                                    <br>
                                    Experience Level: Entry - Mid Level
                                </h3>
                                <div class="row">
                                    <div class="col-lg-6 pe-lg-5">
                                        <h5 class="mb-3">
                                            Responsibilities:
                                        </h5>
                                        <ul class="simplelist_block unordered_list_block">
                                            <li>Perform data collection in support of ASM</li>
                                            <li>Identify vulnerabilities, communicate risk, and verify root cause</li>
                                            <li>Perform verification/validation testing for vulnerabilities in external-facing web sites, web applications, and services; demonstrate exploitation steps and verify remediation/fixes</li>
                                            <li>Develop custom tools and small utilities</li>
                                            <li>Generate comprehensive reports, including detailed findings, exploitation procedures, and mitigation techniques</li>
                                        </ul>
                                        <br><br>
                                        <h5 class="mb-3">
                                            Preferences:
                                        </h5>
                                        <ul class="simplelist_block unordered_list_block mb-4">
                                            <li>Strong understanding of OWASP common vulnerabilities and testing methodologies</li>
                                            <li>Ability to communicate risks caused by web-based application vulnerabilities</li>
                                            <li>Possess basic cybersecurity professional certifications (Security+, GSEC, SSCP)</li>
                                            <li>Experience with ASM/OSINT tools and utilities (BurpSuite, AMASS, PassiveTotal, SecurityTrails, Nuclei, Recon-NG, GoWitness, MassDNS, Masscan, Censys.io, etc.)</li>
                                        </ul>
                                        
                                    </div>
        
                                    <div class="col-lg-6 ps-lg-5">
                                        <h5 class="mb-3">
                                            Requirements:
                                        </h5>
                                        <ul class="simplelist_block unordered_list_block mb-4">
                                            <li>Must be US citizen (must be willing to submit to federal, state, and local background checks as well as other requirements)</li>
                                            <li>Familiarity with common web vulnerabilities including: XSS, XXE, SQL Injection, Deserialization Attacks, Path Traversal Attacks, Remote Execution Flaws, and Authentication Flaws</li>
                                            <li>Understanding of common web application frameworks and web-based APIs</li>
                                            <li>Experience with one or more scripting languages such as Bash, Python, Perl, PowerShell, etc.</li>
                                            <li>Solid understanding of Open-Source Intelligence (OSINT) gathering techniques in support of ASM (subdomain discovery/enumeration, service and application enumeration, and content discovery, etc.)</li>
                                            <li>Ability to manage, organize, analyze, and present substantial amounts of data</li>
                                            <li>Strong written and verbal English language skills</li>
                                            <li>Capable of working effectively and efficiently with minimal supervision</li>
                                        </ul>
                                         
                                    </div>
                                </div>
                                <div class="btns_group pb-0">
                                    <a class="btn btn-primary w-100" href="https://forms.monday.com/forms/5c4722943854af6bf62aebb396553e3c?r=use1" target="_blank">
                                        <span class="btn_label">Apply Now</span>
                                        <span class="btn_icon">
                                            <i class="fa-solid fa-arrow-up-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Career Section - End
================================================== -->
