<!-- Call To Action Section - Start
================================================== -->
<section class="cta_section section_space text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="heading_block mb-0">
                    <h2 class="heading_title mb-5 split-text right">
                        Let Us be Your Trusted Advisor
                    </h2>
                    <div class="brand_logo mb-5">
                        <img data-aos="zoom-in" src="https://devartogroup.github.io/lantern/assets/images/favicon_2.webp" alt="Favicon">
                    </div>
                    <p class="heading_description mb-0" data-aos="fade-up" data-aos-duration="900">
                        Get tailored cybersecurity services, tools, and products to safeguard your business.
                    </p>
                </div>
            </div>
        </div>
        <ul class="btns_group pb-0 unordered_list justify-content-center" data-aos="fade-up" data-aos-duration="900">
<!--             <li>
                <a class="btn btn-primary" href="#!">
                    <span class="btn_label">Get Consult</span>
                    <span class="btn_icon">
                        <i class="fa-solid fa-arrow-up-right"></i>
                    </span>
                </a>
            </li> -->
            <li>
                <a class="btn btn-outline-light" href="/lantern/contact/">
                    <span class="btn_label">Contact Us</span>
                    <span class="btn_icon">
                        <i class="fa-solid fa-arrow-up-right"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>
<!-- Call To Action Section - End
================================================== -->
