<!-- Hero Section - Start
================================================== -->
<section class="hero_section text-center section_decoration" style="background-image: url('assets/images/wallpaper_image_1.webp');">
    <div class="container">
        <h1 class="hero_title split-text right">
            {{ page.hero_title }}
        </h1>
        <p class="hero_description" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">
            {{ page.hero_desc }}
        </p>
        <ul class="btns_group pb-0 unordered_list justify-content-center" data-aos="fade-up" data-aos-duration="900"
            data-aos-delay="400">
            <li>
                <a class="btn btn-outline-light" href="{{ page.hero_btn1_url }}">
                    <span class="btn_label">{{ page.hero_btn1_text }}</span>
                    <span class="btn_icon">
                        <i class="fa-solid fa-arrow-up-right"></i>
                    </span>
                </a>
            </li>
            <li>
                <a class="btn btn-primary" href="{{ page.hero_btn2_url }}">
                    <span class="btn_label">{{ page.hero_btn2_text }}</span>
                    <span class="btn_icon">
                        <i class="fa-solid fa-arrow-up-right"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <div class="decoration_item shape_light_2">
        <img src="assets/images/shape_light_2.webp" alt="Shape Light">
    </div>
</section>
<!-- Hero Section - End
================================================== -->
