<!-- Terms and Policy Section - Start
================================================== -->
<section class="terms_policy_section section_space mb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <ul class="terms_policy_nav unordered_list_block">
                    <li><a href="{{site.baseurl}}/privacy-policy/">Privacy Policy</a></li>
                    <li class="active"><a href="{{site.baseurl}}/terms-of-service/">Terms of Service</a></li>
                </ul>
            </div>
            <div class="col-lg-9">
                <div class="terms_policy_description ps-lg-5">
                    <a class="btn btn-outline-light" href="{{site.baseurl}}">
                        <span class="btn_icon">
                          <i class="fa-solid fa-arrow-left"></i>
                        </span>
                        <span class="btn_label">Go Back</span>
                      </a>
                      <h1 class="hero_title split-text right mt-4">
                        {{ page.title }}
                      </h1>

                    
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor
                        sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                        qui officia deserunt mollit anim id est laborum.
                    </p>

                    <h3>Refund Policy and License Cancellations</h3>
                    <p class="mb-2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit anim id est laborum.
                    </p>

                    <h3>Disclaimer</h3>
                    <p class="mb-3">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <ul class="iconlist_block unordered_list_block">
                        <li>
                            <span class="iconlist_icon">
                                <i class="fa-solid fa-circle-check"></i>
                            </span>
                            <span class="iconlist_label">
                                What is the LIFEBLOOD of the business?
                            </span>
                        </li>
                        <li>
                            <span class="iconlist_icon">
                                <i class="fa-solid fa-circle-check"></i>
                            </span>
                            <span class="iconlist_label">
                                Where are the CROWN JEWELS?
                            </span>
                        </li>
                        <li>
                            <span class="iconlist_icon">
                                <i class="fa-solid fa-circle-check"></i>
                            </span>
                            <span class="iconlist_label">
                                Which workflows are the primary drivers for PROFIT, REVENUE, and CASHFLOW?
                            </span>
                        </li>
                        <li>
                            <span class="iconlist_icon">
                                <i class="fa-solid fa-circle-check"></i>
                            </span>
                            <span class="iconlist_label">
                                Where is the critical DATA? BLS is dedicated to understanding the ENTIRE organization.
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Terms and Policy Section - End
================================================== -->